<app-toolbar/>
<div class="outer-div">
    <div class="titulo-pagina">
      <h1>Sobre Nós</h1>
    </div>
    <div class="texto-bem-vindo">
      <p>
        Seja muito bem-vindo ao Rei da Esfirra, seu restaurante de eleição em São Paulo! Aqui, mergulhe numa experiência gastronômica excepcional, onde a paixão pela culinária é o nosso ingrediente principal. Convidamo-lo a visitar-nos e explorar o delicioso mundo de sabores que temos para oferecer. Aguardamos ansiosos por recebê-lo para momentos inesquecíveis no Rei da Esfirra!</p>
    </div>
    <hr>
    <div class="horario-atendimento">
      <h2>Horário de Atendimento – Salão e Delivery</h2>
      <p>Segunda: fechado</p>
      <p>Terça e Quarta: 11:30 às 15:00</p>
      <p>Quinta e Sexta: 11:30 às 15:30 / 19:00 à 00:00</p>
      <p>Sábado: 12:00 às 16:00 / 19:00 à 00:00</p>
      <p>Domingo*: 12:00 às 16:00 (* fechado no último domingo do mês)</p>
    </div>
    <hr>
    <div class="contato">
      <h2>Ficou com alguma dúvida?</h2>
      <!-- Substitua 'caminho/para/seu/icone' pelos caminhos dos seus ícones -->
      <img src="../../../assets/img/instragram.svg" alt="Ícone 1">
      <img src="../../../assets/img/twitter.svg" alt="Ícone 2">
      <img src="../../../assets/img/whatts.svg" alt="Ícone 3">
    </div>
  </div>