<app-toolbar/>
<div class="outer-div">
  <div class="titulo-cardapio">
    <h1>Descubra Nossas Delícias</h1>
  </div>
  <div class="grid-container">
    @for (item of items$ | async; track item.id) {
    <div class="grid-item">
      <img src="../../../assets/img/esffira-de-queijo.jpg" alt="Imagem do Item">
      <div class="info">
        <h2> {{item.nome}} </h2>
        <p>R${{item.preco}}</p>
        <div class="quantidade">
          <button class="diminuir">-</button>
          <span>1</span>
          <button class="aumentar">+</button>
        </div>
        <button class="adicionar" (click)="onAdicionarAoCarrinho(item.nome, item.preco)" >Adicionar ao carrinho</button>
        <span class="lixeira" (click)="onRemoveClick(item.idItensMenu)" >
          <mat-icon >delete</mat-icon>
        </span> 
      </div>
    </div>
    }
  </div>
  <button class="novo-item" (click)="onItemClick()">Adicionar novo item</button>
</div>
